<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.eureka_feign.mapper.CartMapper">
     <resultMap type="com.cart.eureka_feign.model.Cart" id="cartResultMap">
        <result property="userID" column="userID"/>
        <result property="goodsID" column="goodsID"/>
        <result property="goodsCount" column="goodsCount"/>
        <result property="goodName" column="goodName"/>
        <result property="goodPrice" column="goodPrice"/>
         <result property="Inventory" column="Inventory"/>
    </resultMap>
  <select id="getCartByUserID" resultMap="cartResultMap" resultType="com.cart.eureka_feign.model.Cart">
    select cartID,c.goodsID,userID,goodsCount,goodName,goodPrice,Inventory from cart c left join goods g on c.goodsID=g.goodsID where c.userID=#{userID};
  </select>
  
  <insert id="addGoodtoCart" parameterType="com.cart.eureka_feign.model.Cart" useGeneratedKeys="true" keyProperty="cartID" >
  		insert into cart (goodsID,userID,goodsCount) values (#{goodsID},#{userID},#{goodsCount})
  </insert>
  
  <update id="updateCountByGoodsID" parameterType="com.cart.eureka_feign.model.Cart" useGeneratedKeys="true" keyProperty="cartID">
  		update cart set goodsCount=#{goodsCount} where userID=#{userID} and goodsID=#{goodsID};
  </update>
  
 <delete id="deleteCart" parameterType="Integer" >
 		delete from cart where cartID=#{cartID};
 </delete>
  
</mapper>